{% extends "base.html" %}

{% block body %}
<div class="tile is-ancestor" id="app">
    <div class="tile is-4 is-vertical is-parent">
        <div class="tile is-child box">
            <p class="title">選取</p>
            <div class="field">
                <label class="label">測站</label>
                <div class="control">
                    <div class="select">
                        <select v-model="site">
                            {% for site in siteBasic %}
                            <option value="{{site.name}}">{{site.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">起始時間</label>
                <div class="control">
                        <input v-model="startTime" class="input is-primary" type="date">
                </div>
            </div>
            <div class="field">
                <label class="label">結束時間</label>
                <div class="control">
                        <input v-model="endTime" class="input is-primary" type="date">
                </div>
            </div>

            <div class="field">
                <label class="label">項目</label>
                <div class="control">
                    <div class="select">
                        <select v-model="item">
                            <option v-for="(item, index) in siteField">[[item]]</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="title">時序資料</p>
            <svg>
                <g></g>
            </svg>
            <!-- [[gettimeSeries]] -->
        </div>
    </div>
</div>

{% endblock %}

{% block Script %}
    <script src="static/d3.v4.min.js"></script>
    <script src="static/lodash.min.js"></script>
    <script src="static/js/viewData.js"></script>
{% endblock %}