{% extends "..\..\home\templates\base.html" %}

{% block title %}
指導教授
{% endblock %}

{% block style %}

{% endblock %}

{% block container %}

{% endblock %}

{% block body %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">

            <div class="blog-post">
                <h2 class="blog-post-title">李明旭 (Ming-Hsu Li) 教授</h2>
                <p></p>
                <h3>學歷背景</h3>
                <hr>
                <ul>
                    <li>
                        <a href="http://www.psu.edu/" target="_blank">美國賓州州立大學</a> 土木與環境工程學系博士 1998</li>
                    <li>
                        <a href="http://www.ntu.edu.tw/" target="_blank">國立台灣大學</a> 農業工程學系碩士 1991</li>
                    <li>
                        <a href="http://www.ntu.edu.tw/" target="_blank">國立台灣大學</a> 農業工程學系學士 1989</li>
                </ul>

            </div>
            <!-- /.blog-post -->

            <div class="blog-post">
                <h3>工作經歷</h3>
                <hr>
                <ul>
                    <li>科技部自然司 地球科學研究推動中心 主任 2015～迄今</li>
                    <li>國立中央大學 水文與海洋科學研究所 教授 2013～迄今</li>
                    <li>國立中央大學 水文與海洋科學研究所 所長 2010～2014</li>
                    <li>國立中央大學 水文與海洋科學研究所 副教授 2006～2013</li>
                    <li>國立中央大學 水文科學研究所 助理教授 2001～2006</li>
                    <li>防災國家型科技計畫辦公室 博士後研究員 1999～2001</li>
                    <li>美國Sandia國家實驗室 博士後研究員 1999～1999</li>
                    <li>美國賓州州立大學土木與環工系 博士後研究員 1999～1999</li>
                    <li>美國賓州州立大學土木與環工系 研究助理 1994～1998</li>
                    <li>國立臺灣大學 水工試驗所 專任研究助理 1993～1994</li>
                </ul>
            </div>
            <!-- /.blog-post -->

            <div class="blog-post">
                <h3>代表著作</h3>
                <hr>
                <ol>
                    <li>Yuei-An Liou*, Anh Kim Nguyen, Ming-Hsu Li, 2017/09, Assessing spatiotemporal eco-environmental vulnerability
                        by Landsat data, ECOLOGICAL INDICATORS, 80 52-65.(SCI)</li>
                    <li>Y. C. Lin, M. H. Li, and H. D. Yeh*, 2017/09, An analytical model for flow induced by a constant-head
                        pumping in a leaky unconfined aquifer system with considering unsaturated flow, ADVANCES IN WATER
                        RESOURCES, 107 525-534.(SCI)</li>
                    <li>W. J. Wu, J. J. Dong*, A. T. S. Lin, Y. C. Yu, T. Y. Pan, L. T. Tong, M.H. Li, C. F. Ni, T Shimamoto,
                        2017/06, Influence of stress history on estimates of the porosity of sedimentary rocks: Implications
                        for geological CO2 storage in Northern Taiwan, TERRESTRIAL ATMOSPHERIC AND OCEANIC SCIENCES, 28 3
                        247-258.(SCI)</li>
                    <li>M. H. Yao, M. H. Li, J. Y. Juan, Y. J. Hsia, P. H. Lee, and Y. Shen*, 2017/06, Mapping Reference Evapotranspiration
                        from Meteorological Satellite Data and Applications, TERRESTRIAL ATMOSPHERIC AND OCEANIC SCIENCES,
                        28 3 501-515.(SCI)</li>
                    <li>Li, M.H.*, K.J. Tseng, C.P. Tung, D.S. Shih, T.M. Liu, 2017/02, Assessing the Water Resources Vulnerability
                        and Resilience of Southern Taiwan to Climate Change, TERRESTRIAL ATMOSPHERIC AND OCEANIC SCIENCES,
                        28 1.(SCI)</li>
                    <li>Jui-Sheng Chen, Shao-Yiu Hsu, Ming-Hsu Li, Chen-Wuing Liu*, 2016/12, Assessing the performance of a permeable
                        reactive barrier–aquifer system using a dual-domain solute transport model, JOURNAL OF HYDROLOGY,
                        543 849-860.(SCI)</li>
                    <li>Hailu Sheferaw Ayele, Ming-Hsu Li*, Ching-Pin Tung, Tzu-Ming Liu, 2016/12, Assessing Impact of Climate
                        Change on the Hydrology of Gilgel Abbay and Gumara Watersheds, the upper Blue Nile basin, Ethiopia,
                        TERRESTRIAL ATMOSPHERIC AND OCEANIC SCIENCES, 27 6.(SCI)</li>
                    <li>Anh Kim Nguyen, Yuei-An Liou*, Ming-Hsu Li, Tuan Anh Tran, 2016/10, Zoning eco-environmental vulnerability
                        for environmental management and protection, ECOLOGICAL INDICATORS, 69 100-117.(SCI)</li>
                    <li>Ayele, H.S., M.H. Li*, C.P. Tung, T.M. Liu, 2016/09, Impact of climate change on runoff in the Gilgel
                        Abbay watershed, the upper Blue Nile Basin, Ethiopia, Water, 8 9 380.(SCI)</li>
                    <li>Chia-Ren Chu*; Ming-Hsu Li; Chien-Han Chen; and Jih-Shun Liu, 2016/06, Evaporation Rate of a White Class
                        A Evaporation Pan, JOURNAL OF IRRIGATION AND DRAINAGE ENGINEERING-ASCE, 142 6 04016018.(SCI)</li>
                    <li>Lin, W.S., C.W. Liu*, M.H. Li, 2016/06, Influences of specific ions in groundwater on concrete degradation
                        in subsurface engineered barrier system, SPRINGERPLUS, 5 1 745.(SCI)</li>
                    <li>Yi-Ying Chen*, Ming-Hsu Li, 2016/01, Quantifying Rainfall Interception Loss of a Subtropical Broadleaved
                        Forest in Central Taiwan, Water, 8(1) 14-32.(SCI)
                </ol>
            </div>
            <!-- /.blog-post -->

        </div>
        <!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <img src="http://hydro.ihs.ncu.edu.tw/images/mli.jpg" width="220">
            </div>

            <div class="p-3">
                <h4>聯絡方式</h4>
                <ol class="list-unstyled mb-0">
                    <li>電話: +886-3-4227151 #65691</li>
                    <li>傳真電話: +886-3-4222894</li>
                    <li>電子郵件: mli@cc.ncu.edu.tw</li>
                </ol>
            </div>

        </aside>
        <!-- /.blog-sidebar -->

    </div>
    <!-- /.row -->

</main>
<!-- /.container -->
{% endblock %}

{% block Script %}

{% endblock %}