<!DOCTYPE html>
<html>
<title>{% block title %}{% endblock %}</title>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/CMS.css"> {% block style %} {% endblock %}

</head>

<body>

    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">後臺管理</a>
        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">前台畫面 <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav px-3">
              <li class="nav-item text-nowrap">
                <a class="nav-link" href="/api/logout">Sign out</a>
              </li>
            </ul>
        </div>
      </nav>

  <!-- <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">後臺管理</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="/api/logout">Sign out</a>
      </li>
    </ul>
  </nav> -->
  
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link {% if which == '工作經歷' %}active{% endif %}" href="/CMS/work_experience">
                <i class="fa fa-suitcase"></i>
                工作經歷
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if which == '代表著作' %}active{% endif %}" href="/CMS/papers">
                <i class="fa fa-book"></i>
                代表著作
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if which == '實驗室成員' %}active{% endif %}" href="/CMS/members">
                <i class="fa fa-users"></i>
                實驗室成員
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if which == '蓮華池測站資料上傳' %}active{% endif %}" href="/CMS/upload_file">
                <i class="fa fa-cloud-upload"></i>
                蓮華池測站資料上傳
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  
        {% block container %} {% endblock %}

      </main>
    </div>
  </div>
   {% block body %} {% endblock %}

  <!-- <script src="/static/axios.min.js"></script>
  <script src="/static/vue.js"></script> -->

  {% block Script %} {% endblock %}

</body>

</html>