{% extends "CMS.html" %}

{% block title %}
後台-代表著作
{% endblock %}

{% block style %}

{% endblock %}

{% block container %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">代表著作修正</h1>
    <!-- <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-outline-secondary">Share</button>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
        </div>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
        </button>
    </div> -->
</div>

<!-- <canvas class="my-4" id="myChart" width="900" height="380"></canvas> -->
<form class="form-inline" action="/api/update/papers" method="post">

    <input name="author" type="text" class="form-control col-md-4 mb-2 mr-sm-2 is-invalid" placeholder="作者">
    <input name="date" type="text" class="form-control col-md-1 mb-2 mr-sm-2 is-invalid" placeholder="發表日期">
    <input name="title" type="text" class="form-control col-md-4 mb-2 mr-sm-2 is-invalid" placeholder="題目">
    
    <input name="type_crud" type="text" class="d-none" value="add">
    {% csrf_token %}
    <button type="submit" class="btn btn-warning mb-2 mr-sm-2">新增</button>

</form>
{% for item in papers %}
<form class="form-inline" action="/api/update/papers" method="post">

    <input name="pid" type="text" class="d-none" value="{{item.pid}}">
    <input name="author" type="text" class="form-control col-md-4 mb-2 mr-sm-2" placeholder="作者" value="{{item.author}}">
    <input name="date" type="text" class="form-control col-md-1 mb-2 mr-sm-2" placeholder="發表日期" value="{{item.date}}">
    <input name="title" type="text" class="form-control col-md-4 mb-2 mr-sm-2" placeholder="題目" value="{{item.title}}">
    <select name="type_crud" class="form-control mb-2 mr-sm-2">
        <option value="modify">修正</option>
        <option value="delete">刪除</option>
    </select>
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary mb-2 mr-sm-2">送出</button>
</form>

{% endfor %}

{% endblock %}

{% block body %}

{% endblock %}

{% block Script %}

{% endblock %}