{% extends "..\..\home\templates\base.html" %}

{% block title %}
上傳確認
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/uploadFile.css">
{% endblock %}

{% block body %}

<div class="container">
    <h1>收檔日期：{{ date }}</h1>
    <div class="row text-center">
        {% for site in success %}
        <div class="col-sm">
            <h2>{{ site.name }}</h2>
            {% if site.result %}
            <i class="fa fa-check fa-5" aria-hidden="true"></i>上傳成功
            {% else %}
            <i class="fa fa-times fa-5" aria-hidden="true"></i>上傳失敗
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

</div>

{% endblock %}