<!DOCTYPE html>
<html>
<title>upload</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base.css"> -->

</head>

<body>
    <form method="post" action="/upload/file" enctype="multipart/form-data">
        <input name="file" type="file">
        <input type="submit" value="送出">
        {% csrf_token %}
    </form>

</body>

</html>