<!DOCTYPE html>
<html>
<title>upload</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/base.css"> -->

</head>

<body>
    <form method="post" action="/upload/file" enctype="multipart/form-data">
        測站名稱:<br>
        <select name="site">
            <option value="Capa2">Capa2</option>
            <option value="Capa3">Capa3</option>
            <option value="Capa4">Capa4</option>
        </select><br>
        檔案:<br>
        <input name="file" type="file"><br><br>
        <input type="submit" value="上傳">
        {% csrf_token %}
    </form>

</body>

</html>