{% extends "..\..\home\templates\home.html" %}

{% block body %}
<section class="section columns is-mobile is-centered">
    <div class="container column is-half is-narrow">
        <h1 class="title">
            蓮華池資料上傳
        </h1>
        <p class="subtitle">
            上傳原始收回檔案
        </p>

        <form method="post" action="/upload/file" enctype="multipart/form-data">

            <div class="field">
                <label class="label">收檔日期</label>
                <div class="control">
                    <input class="input" type="date" value="2017-01-01" name="date">
                </div>
            </div>

            {% for site in field %}
            <div class="field">
                <label class="label">{{ site.name }}</label>
                <div class="control">
                    <div class="file is-warning has-name">
                        <label class="file-label">
                            <input class="file-input" type="file" name="{{ site.name }}">
                            <span class="file-cta">
                                <span class="file-icon">
                                    <i class="fa fa-upload"></i>
                                </span>
                                <span class="file-label">
                                    請選擇[{{ site.fileName }}]檔案
                                </span>
                            </span>
                            <span class="file-name">

                            </span>
                        </label>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="field">
                <label class="label">備註</label>
                <div class="control">
                    <textarea class="textarea" placeholder="...暫無儲存備註與收檔日期"></textarea>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <input class="button is-link" type="submit" value="上傳">
                </div>
            </div>

            {% csrf_token %}
        </form>
    </div>
</section>
{% endblock %}